**Load The data**

In [2]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/datasets/bank.csv")
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,blue-collar,single,primary,no,1,yes,no,cellular,20,apr,257,1,-1,0,unknown,no
11158,39,services,married,secondary,no,733,no,no,unknown,16,jun,83,4,-1,0,unknown,no
11159,32,technician,single,secondary,no,29,no,no,cellular,19,aug,156,2,-1,0,unknown,no
11160,43,technician,married,secondary,no,0,no,yes,cellular,8,may,9,2,172,5,failure,no
11161,34,technician,married,secondary,no,0,no,no,cellular,9,jul,628,1,-1,0,unknown,no

**Exploratory Data Analysis**

In [3]:
df.shape

(11162, 17)

In [4]:
df.describe()

,age,balance,day,duration,campaign,pdays,previous
count,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000,11162.000000
mean,41.231948,1528.538524,15.658036,371.993818,2.508421,51.330407,0.832557
std,11.913369,3225.413326,8.420740,347.128386,2.722077,108.758282,2.292007
min,18.000000,-6847.000000,1.000000,2.000000,1.000000,-1.000000,0.000000
25%,32.000000,122.000000,8.000000,138.000000,1.000000,-1.000000,0.000000
50%,39.000000,550.000000,15.000000,255.000000,2.000000,-1.000000,0.000000
75%,49.000000,1708.000000,22.000000,496.000000,3.000000,20.750000,1.000000
max,95.000000,81204.000000,31.000000,3881.000000,63.000000,854.000000,58.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [6]:
df.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
deposit      object
dtype: object

**Identifying Null Values**

In [7]:
df.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

**Separating Input Features(x) & Target(y)**

In [10]:
x=df.drop("deposit",axis=1)
y=df["deposit"]

In [9]:
print(x)

       age          job  marital  education default  balance housing loan  \
0       59       admin.  married  secondary      no     2343     yes   no
1       56       admin.  married  secondary      no       45      no   no
2       41   technician  married  secondary      no     1270     yes   no
3       55     services  married  secondary      no     2476     yes   no
4       54       admin.  married   tertiary      no      184      no   no
...    ...          ...      ...        ...     ...      ...     ...  ...
11157   33  blue-collar   single    primary      no        1     yes   no
11158   39     services  married  secondary      no      733      no   no
11159   32   technician   single  secondary      no       29      no   no
11160   43   technician  married  secondary      no        0      no  yes
11161   34   technician  married  secondary      no        0      no   no

        contact  day month  duration  campaign  pdays  previous poutcome
0       unknown    5   may      1042         1     -1         0  unknown
1       unknown    5   may      1467         1     -1         0  unknown
2       unknown    5   may      1389         1     -1         0  unknown
3       unknown    5   may       579         1     -1         0  unknown
4       unknown    5   may       673         2     -1         0  unknown
...         ...  ...   ...       ...       ...    ...       ...      ...
11157  cellular   20   apr       257         1     -1         0  unknown
11158   unknown   16   jun        83         4     -1         0  unknown
11159  cellular   19   aug       156         2     -1         0  unknown
11160  cellular    8   may         9         2    172         5  failure
11161  cellular    9   jul       628         1     -1         0  unknown

[11162 rows x 16 columns]

In [11]:
print(y)

0        yes
1        yes
2        yes
3        yes
4        yes
        ...
11157     no
11158     no
11159     no
11160     no
11161     no
Name: deposit, Length: 11162, dtype: object

**Encoding Categorical Values to numerical values**

In [13]:
cat_cols = x.select_dtypes(include='object').columns
print(cat_cols)

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome'],
      dtype='object')

In [15]:
X_encoded = pd.get_dummies(x, columns=cat_cols, drop_first=True)

In [16]:
print(X_encoded.shape)
print(X_encoded.head())

(11162, 42)
   age  balance  day  duration  campaign  pdays  previous  job_blue-collar  \
0   59     2343    5      1042         1     -1         0            False
1   56       45    5      1467         1     -1         0            False
2   41     1270    5      1389         1     -1         0            False
3   55     2476    5       579         1     -1         0            False
4   54      184    5       673         2     -1         0            False

   job_entrepreneur  job_housemaid  ...  month_jul  month_jun  month_mar  \
0             False          False  ...      False      False      False
1             False          False  ...      False      False      False
2             False          False  ...      False      False      False
3             False          False  ...      False      False      False
4             False          False  ...      False      False      False

   month_may  month_nov  month_oct  month_sep  poutcome_other  \
0       True      False      False      False           False
1       True      False      False      False           False
2       True      False      False      False           False
3       True      False      False      False           False
4       True      False      False      False           False

   poutcome_success  poutcome_unknown
0             False              True
1             False              True
2             False              True
3             False              True
4             False              True

[5 rows x 42 columns]

**Splitting the Training and Testing Data**

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_encoded, y, test_size=0.2, random_state=42
)

**Feature Scaling**

In [18]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

**Model Fitting**

In [19]:
from sklearn.linear_model import LogisticRegression
model= LogisticRegression(max_iter=1000)
model.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=1000)

**Making Prediction**

In [20]:
y_pred = model.predict(X_test_scaled)
print(y_pred)

['no' 'yes' 'yes' ... 'no' 'yes' 'yes']

**Model Evaluation**

In [21]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score=accuracy_score(y_test,y_pred)
confusion_matrix=confusion_matrix(y_test,y_pred)
classification_report=classification_report(y_test,y_pred)
print("accuracy_score",accuracy_score)
print("confusion_matrix",confusion_matrix)
print("classification_report",classification_report)

accuracy_score 0.8083296014330497
confusion_matrix [[972 194]
 [234 833]]
classification_report               precision    recall  f1-score   support

          no       0.81      0.83      0.82      1166
         yes       0.81      0.78      0.80      1067

    accuracy                           0.81      2233
   macro avg       0.81      0.81      0.81      2233
weighted avg       0.81      0.81      0.81      2233

**Feature Coefficient**

In [23]:
coeff_df = pd.DataFrame({
    'Feature': X_encoded.columns,
    'Coefficient': model.coef_[0]
}).sort_values(by='Coefficient', ascending=False)

print(coeff_df)

                Feature  Coefficient
3              duration     1.916184
40     poutcome_success     0.648274
34            month_mar     0.295705
21   education_tertiary     0.240892
37            month_oct     0.207223
38            month_sep     0.188732
29            month_dec     0.157809
20  education_secondary     0.120083
33            month_jun     0.116905
1               balance     0.069943
22    education_unknown     0.068358
14          job_student     0.061468
11          job_retired     0.052776
2                   day     0.050029
6              previous     0.032999
39       poutcome_other     0.014231
23          default_yes    -0.000130
17          job_unknown    -0.015181
19       marital_single    -0.015998
26    contact_telephone    -0.021873
5                 pdays    -0.030333
0                   age    -0.034637
30            month_feb    -0.044415
15       job_technician    -0.057429
16       job_unemployed    -0.059335
9         job_housemaid    -0.065742
8      job_entrepreneur    -0.074494
13         job_services    -0.080389
12    job_self-employed    -0.093784
18      marital_married    -0.101979
7       job_blue-collar    -0.120960
10       job_management    -0.123268
41     poutcome_unknown    -0.150847
25             loan_yes    -0.165169
31            month_jan    -0.201076
4              campaign    -0.245342
35            month_may    -0.276565
36            month_nov    -0.278493
28            month_aug    -0.284477
32            month_jul    -0.324294
24          housing_yes    -0.344953
27      contact_unknown    -0.658943

**User Input Prediction**

In [24]:
import pandas as pd
import numpy as np

print("Enter Customer Details:")

user_data = {
    'age': int(input("Age: ")),
    'job': input("Job (admin., technician, services, etc.): "),
    'marital': input("Marital (single, married, divorced): "),
    'education': input("Education (primary, secondary, tertiary): "),
    'default': input("Default (yes/no): "),
    'balance': int(input("Balance: ")),
    'housing': input("Housing loan (yes/no): "),
    'loan': input("Personal loan (yes/no): "),
    'contact': input("Contact type (cellular/telephone): "),
    'day': int(input("Day: ")),
    'month': input("Month (jan, feb, mar, etc.): "),
    'duration': int(input("Call duration (seconds): ")),
    'campaign': int(input("Campaign (number of contacts): ")),
    'pdays': int(input("Pdays: ")),
    'previous': int(input("Previous contacts: ")),
    'poutcome': input("Previous outcome (success/failure/other): ")
}

# Convert to DataFrame
user_df = pd.DataFrame([user_data])

# One-Hot Encode user input
user_encoded = pd.get_dummies(user_df)

# Align columns with training data
user_encoded = user_encoded.reindex(columns=X_encoded.columns, fill_value=0)

# Scale input
user_scaled = scaler.transform(user_encoded)

# Prediction
prediction = model.predict(user_scaled)
probability = model.predict_proba(user_scaled)[0][1]

# Output (Categorical)
if prediction[0] == 1:
    print(f"\nPrediction: DEPOSIT SUBSCRIBED âœ… (Probability = {probability:.2f})")
else:
    print(f"\nPrediction: DEPOSIT NOT SUBSCRIBED âŒ (Probability = {probability:.2f})")

Enter Customer Details:
Age: 35
Job (admin., technician, services, etc.): services
Marital (single, married, divorced): married
Education (primary, secondary, tertiary): secondary
Default (yes/no): no
Balance: 1200
Housing loan (yes/no): yes
Personal loan (yes/no): no
Contact type (cellular/telephone): cellular
Day: 15
Month (jan, feb, mar, etc.): may
Call duration (seconds): 120
Campaign (number of contacts): 2
Pdays: -1
Previous contacts: 0
Previous outcome (success/failure/other): unknown

Prediction: DEPOSIT NOT SUBSCRIBED âŒ (Probability = 0.11)